{% extends 'base.html' %}

{% block head %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/css/dist/js/bootstrap.min.js"></script>
<style>
body {background: url("/static/img/wine.jpg");
background-size: 1408px 933px;
background-repeat: no-repeat;
}
</style>




{% endblock %}

{% block body %}
<div class="col-sm-3">
<h3 class="comfortaa"><font color="black">Change Password</font></h3>
<div class="playfair"><form class="sign-up-form" method="POST">
    <div class="form-group"><label for="email"></label>
      <input type = "text" name ="email" id="first_name" class="form-control" placeholder={{session['email']}} /></div>
    <div class="form-group"><label for="password"></label>
      <input type = "password" name="oldpassword" id="password" class="form-control" placeholder="Old Password"/></div>
    <div class="form-group"><label for="password"></label>
      <input type = "password" name="newpassword" id="password" class="form-control" placeholder="New Password"/></div>
    <div class="form-group"><label for="password"></label>
      <input type = "password" name="checknewpassword" id="password" class="form-control" placeholder="Verify New Password"/></div>

<form action = "/changepw"><button type="submit" class="btn btn-default"> Change Password </button></form>
<form action = "/account"><button type="submit" class="btn btn-default"> Cancel </button></form>
</div>





{% endblock %}
