{% extends 'base.html' %}

{% block head %}

<style>body{background-image: url("/static/img/zucchini_fritter.JPG");}
.o-roulette {
  width: 56px;
  padding: 3px;
  }
</style>

{% endblock %}

{% block body %}

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
	<br>
	<br>
	<br>
        <h1><div class="comfortaa" id="CRtitle">C<img src="/static/img/roulette.png" class="o-roulette"><img src="/static/img/roulette.png" class="o-roulette">k Roulette</div></h1>

<div class="comfortaa"><form action = "/feedme"><button type="submit" class="btn btn-default"> <font size="7">Feed Me!</font> </button></form></div>


      </div>

    </div><!-- /.container -->
{% endblock %}

